body{
    font-size: x-large;

    display: grid;
    place-items: center;
}

#opc-1{
    color: white;
}

#opc-2{
    color: violet;
}

#opc-3{
    color: pink;
}

select{
    background-color: gray;
}

p{
    width: 300px;
}

img{
    margin-top: 10vh;
    height: 300px;
}